<section class="jumbotron text-center">
  <div class="container">
    <h1>Bandas de Rock de los 70's</h1>
    <p class="lead text-muted">Conoce las mejores bandas de rock que se escucharon en los años setenta.</p>
  </div>
</section>

<div class="album py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of bands">
        <div class="card mb-4 shadow-sm">
          <img [src]="item.Image" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title text-center"> 
              {{item.Name}} 
            </h4>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-center align-items-center mt-4">
              <div class="btn">
                <button type="button" class="btn btn-sm btn-outline-secondary mr-2 mb-2" (click)="details(item.Id)">Ver Detalles</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>