<section>
    <div class="container align-content-center">
        <div class="row title">
            <div class="col-sm-3 text-center">
                <img src={{band.image}} class="img-thumb" alt="...">
            </div>
            <div class="col-sm-9">
                <h1>{{band.name}}</h1>
                <h6>{{band.biography}}</h6>
                <p>
                    <a href={{band.officialsite}} target="_blank">
                        Ir a página del artista
                    </a>
                </p>
            </div>
        </div>
    </div>
</section>


<div class="album py-5">
    <div class="container">
        <div class="row m-5">
            <div class="row-sm-3 text-center">
                <div class="col text-center">
                    <div class="card">
                        <iframe [src]="band.music | domseguro" width="450" height="300" frameborder="0" allowtransparency="true" allow="encrypted-media" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="card-body">
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <h4>{{band.albums}}</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>