<section class="jumbotron text-center">
    <div class="container">
        <h1>Bandas de Rock de los 70's</h1>
        <p class="lead text-muted">Conoce las mejores bandas de rock que se escucharon en los años setenta.</p>

        <div class="row" *ngIf="searchBands.length == 0">
            <div class="col-md-12 d-flex justify-content-center text-center">
                <div class="alert alert-info" role="alert">
                    No existen resultados
                </div>
            </div>

        </div>
    </div>
</section>

<app-bandlist [items]="searchBands"></app-bandlist>

<ng-template #modalAddbands let-modal>
    <div class="modal-header">
        <i class="fa fa-music fa-2x"></i>
        <h4 class="modal-title pull-left"><br>Agregar Banda de Rock<br></h4>
        <button class="close pull-right" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo sed numquam facilis praesentium odio non dignissimos itaque quasi amet doloribus quaerat blanditiis veritatis, maiores excepturi inventore minus fugiat mollitia! Vel?</p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>