<section class="jumbotron text-center">
    <div class="container">
        <h1>Bandas de Rock de los 70's</h1>
        <p class="lead text-muted">Conoce las mejores bandas de rock que se escucharon en los años setenta.</p>

        <div class="row" *ngIf="searchBands.length == 0">
            <div class="col-md-12 d-flex justify-content-center text-center">
                <div class="alert alert-info" role="alert">
                    No existen resultados
                </div>
            </div>

        </div>
    </div>
</section>

<app-bandlist [items]="searchBands"></app-bandlist>